
@{
    ViewData["Title"] = "Haqqımızda";
}

<div class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-one__thumb">
                    <div class="about-one__thumb__item">
                        <img src="~/assets/images/about/about-1-1.jpg" alt="solinom about">
                        <div class="about-one__thumb__item__element">
                            <img src="~/assets/images/shapes/about-shape-1-1.png" alt>
                        </div>
                    </div>
                    <div class="about-one__thumb__line">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="about-one__thumb__element">
                        <div class="about-one__thumb__shape">
                            <img src="~/assets/images/about/about-s-1-1.png" alt="solinom image">
                        </div>
                        <div class="about-one__thumb__shape-two">
                            <img src="~/assets/images/shapes/about-shape-1-2.png" alt>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-one__content">
                    <div class="sec-title text-start">

                        <img src="~/assets/images/shapes/sec-title-s-1.png" alt="WELCOME TO HOTEL" class="sec-title__img">


                        <h6 class="sec-title__tagline bw-split-in-right">WELCOME TO HOTEL</h6>

                        <h3 class="sec-title__title bw-split-in-up">The Best Hotel on the Beach Side</h3>
                    </div>
                    <p class="about-one__content__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                    <div class="about-one__feature">
                        <div class="about-one__feature__item">
                            <div class="about-one__feature__left">
                                <div class="about-one__feature__icon">
                                    <i class="icon-booking-1"></i>
                                </div>
                                <h4 class="about-one__feature__title"><a asp-controller="Home" asp-action="Room1">Easy & Quick Booking</a></h4>
                            </div>
                            <p class="about-one__feature__text">Lorem Ipsum is simply dummy text of the printing . </p>
                        </div>
                        <div class="about-one__feature__item">
                            <div class="about-one__feature__left">
                                <div class="about-one__feature__icon">
                                    <i class="icon-hotel-1"></i>
                                </div>
                                <h4 class="about-one__feature__title"><a asp-controller="Home" asp-action="Room1">Best Room Selection</a></h4>
                            </div>
                            <p class="about-one__feature__text">Lorem Ipsum is simply dummy text of the printing . </p>
                        </div>
                    </div>
                    <a asp-controller="Home" asp-action="About" class="about-one__btn solinom-btn solinom-btn--base">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="funfact-one">
    <div class="container">
        <ul class="list-unstyled funfact-one__list">
            <li class="funfact-one__item count-box">
                <div class="funfact-one__icon">
                    <i class="icon-livingroom"></i>
                </div>
                <div class="funfact-one__content">
                    <h3 class="funfact-one__count">
                        <span class="funfact-one__count__item count-text" data-stop="420" data-speed="1500"></span>
                        <span>+</span>
                    </h3>
                    <p class="funfact-one__text">Luxury Rooms</p>
                </div>
            </li>
            <li class="funfact-one__item count-box">
                <div class="funfact-one__icon">
                    <i class="icon-travel"></i>
                </div>
                <div class="funfact-one__content">
                    <h3 class="funfact-one__count">
                        <span class="funfact-one__count__item count-text" data-stop="860" data-speed="1500"></span>
                        <span>+</span>
                    </h3>
                    <p class="funfact-one__text">Guests Visits</p>
                </div>
            </li>
            <li class="funfact-one__item count-box">
                <div class="funfact-one__icon">
                    <i class="icon-rating"></i>
                </div>
                <div class="funfact-one__content">
                    <h3 class="funfact-one__count">
                        <span class="funfact-one__count__item count-text" data-stop="390" data-speed="1500"></span>
                        <span>+</span>
                    </h3>
                    <p class="funfact-one__text">Five Star Ratings</p>
                </div>
            </li>
            <li class="funfact-one__item count-box">
                <div class="funfact-one__icon">
                    <i class="icon-hours"></i>
                </div>
                <div class="funfact-one__content">
                    <h3 class="funfact-one__count">
                        <span class="funfact-one__count__item count-text" data-stop="6.30" data-speed="1500"></span>
                        <span>+</span>
                    </h3>
                    <p class="funfact-one__text">Year of Service</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="advantages-one">
    <div class="advantages-one__bg" style="background-image: url(assets/images/resources/advantage-bg-1-1.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="sec-title text-start">

                    <img src="~/assets/images/shapes/sec-title-s-1.png" alt="OUR Advantages" class="sec-title__img">


                    <h6 class="sec-title__tagline bw-split-in-right">OUR Advantages</h6>

                    <h3 class="sec-title__title bw-split-in-up">Hotel Amenities & Features</h3>
                </div>
            </div>
        </div>
        <div class="row gutter-y-20 gutter-x-20">
            <div class="col-md-6">
                <div class="advantages-one__item">
                    <div class="advantages-one__item__top">
                        <div class="advantages-one__item__icon">
                            <i class="icon-spa-1"></i>
                        </div>
                        <h4 class="advantages-one__item__title"><a asp-controller="Home" asp-action="Restaurant">Spa & <br> Wellness</a></h4>
                    </div>
                    <p class="advantages-one__item__text">It is a long established fact that a reader will be distracted by the of readi toablie content of a page when the of readi toablie</p>
                    <div class="advantages-one__item__element">
                        <img src="~/assets/images/shapes/advantages-card-shape-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantages-one__item">
                    <div class="advantages-one__item__top">
                        <div class="advantages-one__item__icon">
                            <i class="icon-fast-food-1"></i>
                        </div>
                        <h4 class="advantages-one__item__title"><a asp-controller="Home" asp-action="Restaurant">Food & <br> Beverages</a></h4>
                    </div>
                    <p class="advantages-one__item__text">It is a long established fact that a reader will be distracted by the of readi toablie content of a page when the of readi toablie</p>
                    <div class="advantages-one__item__element">
                        <img src="~/assets/images/shapes/advantages-card-shape-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantages-one__item">
                    <div class="advantages-one__item__top">
                        <div class="advantages-one__item__icon">
                            <i class="icon-sun-umbrella-1"></i>
                        </div>
                        <h4 class="advantages-one__item__title"><a asp-controller="Home" asp-action="Restaurant">Beach <br> Location</a></h4>
                    </div>
                    <p class="advantages-one__item__text">It is a long established fact that a reader will be distracted by the of readi toablie content of a page when the of readi toablie</p>
                    <div class="advantages-one__item__element">
                        <img src="~/assets/images/shapes/advantages-card-shape-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantages-one__item">
                    <div class="advantages-one__item__top">
                        <div class="advantages-one__item__icon">
                            <i class="icon-wedding-1"></i>
                        </div>
                        <h4 class="advantages-one__item__title"><a asp-controller="Home" asp-action="Restaurant">Destination <br> Wedding </a></h4>
                    </div>
                    <p class="advantages-one__item__text">It is a long established fact that a reader will be distracted by the of readi toablie content of a page when the of readi toablie</p>
                    <div class="advantages-one__item__element">
                        <img src="~/assets/images/shapes/advantages-card-shape-1-1.png" alt>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-one__element">
        <img src="~/assets/images/shapes/advantages-shape-1-1.png" alt>
    </div>
    <div class="advantages-one__man">
        <img src="~/assets/images/resources/about-man.png" alt>
    </div>
</section>
@* 
<section class="reviews-one">
    <div class="container">
        <div class="sec-title text-center">

            <img src="~/assets/images/shapes/sec-title-s-1.png" alt="Customer Reviews" class="sec-title__img">


            <h6 class="sec-title__tagline bw-split-in-right">Customer Reviews</h6>

            <h3 class="sec-title__title bw-split-in-up">What They're Saying</h3>
        </div>
        <div class="reviews-one__carousel solinom-owl__carousel owl-carousel owl-theme" data-owl-options='{
                "items": 1,
                "margin": 0,
                "loop": true,
                "smartSpeed": 700,
                "nav": false,
                "dots": false,
                "autoplay": true,
                "responsive": {
                    "0": {
                        "items": 1
                    },
                    "768": {
                        "items": 2,
                        "margin": 30
                    },
                    "992": {
                        "items": 2,
                        "margin": 30
                    },
                    "1199": {
                        "items": 3,
                        "margin": 30
                    }
                }
            }'>
            <div class="item">

                <div class="review-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                    <div class="review-card__content">
                        <div class="review-card__star">
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                        </div>
                        <p class="review-card__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                        <div class="review-card__author">
                            <div class="review-card__author__thumb">
                                <img src="~/assets/images/resources/review-1-1.jpg" alt="Floyd Miles">
                            </div>
                            <div class="review-card__author__content">
                                <h6 class="review-card__author__name">Floyd Miles</h6>
                                <span class="review-card__author__subtitle">Guest</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-card__element">
                        <img src="~/assets/images/shapes/testimonials-1-1.png" alt>
                    </div>
                    <div class="review-card__hover-element">
                        <img src="~/assets/images/shapes/testimonials-hover-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="review-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <div class="review-card__content">
                        <div class="review-card__star">
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                        </div>
                        <p class="review-card__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                        <div class="review-card__author">
                            <div class="review-card__author__thumb">
                                <img src="~/assets/images/resources/review-1-2.jpg" alt="Robert Fox">
                            </div>
                            <div class="review-card__author__content">
                                <h6 class="review-card__author__name">Robert Fox</h6>
                                <span class="review-card__author__subtitle">Guest</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-card__element">
                        <img src="~/assets/images/shapes/testimonials-1-1.png" alt>
                    </div>
                    <div class="review-card__hover-element">
                        <img src="~/assets/images/shapes/testimonials-hover-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="review-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                    <div class="review-card__content">
                        <div class="review-card__star">
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                        </div>
                        <p class="review-card__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                        <div class="review-card__author">
                            <div class="review-card__author__thumb">
                                <img src="~/assets/images/resources/review-1-3.jpg" alt="Jerome Bell">
                            </div>
                            <div class="review-card__author__content">
                                <h6 class="review-card__author__name">Jerome Bell</h6>
                                <span class="review-card__author__subtitle">Guest</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-card__element">
                        <img src="~/assets/images/shapes/testimonials-1-1.png" alt>
                    </div>
                    <div class="review-card__hover-element">
                        <img src="~/assets/images/shapes/testimonials-hover-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="review-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                    <div class="review-card__content">
                        <div class="review-card__star">
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                        </div>
                        <p class="review-card__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                        <div class="review-card__author">
                            <div class="review-card__author__thumb">
                                <img src="~/assets/images/resources/review-1-1.jpg" alt="Floyd Miles">
                            </div>
                            <div class="review-card__author__content">
                                <h6 class="review-card__author__name">Floyd Miles</h6>
                                <span class="review-card__author__subtitle">Guest</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-card__element">
                        <img src="~/assets/images/shapes/testimonials-1-1.png" alt>
                    </div>
                    <div class="review-card__hover-element">
                        <img src="~/assets/images/shapes/testimonials-hover-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="review-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <div class="review-card__content">
                        <div class="review-card__star">
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                        </div>
                        <p class="review-card__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                        <div class="review-card__author">
                            <div class="review-card__author__thumb">
                                <img src="~/assets/images/resources/review-1-2.jpg" alt="Robert Fox">
                            </div>
                            <div class="review-card__author__content">
                                <h6 class="review-card__author__name">Robert Fox</h6>
                                <span class="review-card__author__subtitle">Guest</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-card__element">
                        <img src="~/assets/images/shapes/testimonials-1-1.png" alt>
                    </div>
                    <div class="review-card__hover-element">
                        <img src="~/assets/images/shapes/testimonials-hover-1-1.png" alt>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="review-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                    <div class="review-card__content">
                        <div class="review-card__star">
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                            <i class="icon-star1"></i>
                        </div>
                        <p class="review-card__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</p>
                        <div class="review-card__author">
                            <div class="review-card__author__thumb">
                                <img src="~/assets/images/resources/review-1-3.jpg" alt="Jerome Bell">
                            </div>
                            <div class="review-card__author__content">
                                <h6 class="review-card__author__name">Jerome Bell</h6>
                                <span class="review-card__author__subtitle">Guest</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-card__element">
                        <img src="~/assets/images/shapes/testimonials-1-1.png" alt>
                    </div>
                    <div class="review-card__hover-element">
                        <img src="~/assets/images/shapes/testimonials-hover-1-1.png" alt>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews-one__line"></div>
</section>

 *@
<div class="client-carousel ">
    <div class="container">
        <div class="client-carousel__one solinom-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 5,
            "margin": 55,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":false,
            "responsive":{
                "0":{
                    "items":1,
                    "margin": 0
                },
                "360":{
                    "items":2,
                    "margin": 0
                },
                "575":{
                    "items":3,
                    "margin": 30
                },
                "768":{
                    "items":3,
                    "margin": 40
                },
                "992":{
                    "items": 4,
                    "margin": 40
                },
                "1200":{
                    "items": 5
                }
            }
            }'>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
            <div class="client-carousel__one__item">
                <img class="client-carousel__one__image" src="~/assets/images/brand/brand-1-1.png" alt="solinom">
                <img class="client-carousel__one__hover-image" src="~/assets/images/brand/brand-hover-1-1.png" alt="solinom">
            </div>
        </div>
    </div>
</div>
<div class="cta-one cta-one--one wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
    <div class="container">
        <div class="cta-one__inner">
            <div class="cta-one__funfact">
                <div class="cta-one__bg" style="background-image: url(~/assets/images/backgrounds/cta-bg.jpg);"></div>
                <div class="cta-one__funfact__content count-box">
                    <h3 class="cta-one__funfact__count">
                        <span class="cta-one__funfact__count__item count-text" data-stop="50" data-speed="1500"></span>
                        <span>%</span>
                    </h3>
                    <p class="cta-one__funfact__text">Off</p>
                </div>
            </div>
            <div class="cta-one__content">
                <h4 class="cta-one__content__title">Check Our Exclusive Hotel Offer</h4>
                <div class="cta-one__content__btn">
                    <a asp-controller="Home" asp-action="Contact" class="solinom-btn solinom-btn--base">book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
