@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentSuccessful</title>
</head>
<body>
    <h1>Payment was successful</h1>
    <a asp-controller="Home" asp-action="Index">Go back to page</a>
</body>
</html>
